/*BOOKING CSS*/

.map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.map-container {
    width: 100%;
    height: 400px; 
    border-radius: 0.75rem; 
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.transport-label {
        border: 2px solid #e5e7eb; 
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

input[type="radio"]:checked + .transport-label {
    border-color: #2563eb; 
    background-color: #dbeafe; 
    box-shadow: 0 4px 6px rgba(37, 99, 235, 0.3);
    transform: scale(1.02);
}   